$color-black: #222;
$color-white: #fafafa;
$color-gold: #ffd700;
$color-gold-lighter: #fafad2;
$color-gold-darker: #b8860b;
$color-gray: #464646;

$color-blue: #2a52be;
$color-blue-light: #84a0ef;
$color-blue-lighter: #dfe5fc;
$color-red: #962829;
$color-red-light: #bc4b4b;
$color-red-lighter: #ea9d9d;
$color-green: #2f732d;
$color-green-light: #6aa768;
$color-green-lighter: #bdf1bd;
$color-violet: #710888;
$color-violet-light: #7f2b96;
$color-yellow: #985f0c;
$color-yellow-light: #ae7325;
